:root{
 --main-color:#7D27F5;
--gradient1:linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
--second-color:#40E0D0;
}
.colour{
    background-color:var(--main-color);

}
   .cursive1 {
font-family: 'Oleo Script', cursive;

    }
    .c{
        background: var(--gradient1);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    }
.link {
    text-align: center;
  color: #ecedf1;        /* light violet */
  text-decoration: none; /* removes underline */
  font-weight: 500;
}